{% extends "card/base.html" %}

{% block content %}
    <div><p>Добавить фильм</p></div>
    <div class='inputs_parameters_move'>
        <form method="post">
            {% csrf_token %}
            <div class='parameters_move'>
                <h4>Название</h4>
                <input class='input' value="" type="text" name="{{ form.title.name }}">
            </div>
            <div class='parameters_move'>
                <h4>Фото(URL)</h4>
                <input class='input' value="" type="text" name="{{ form.img_url.name }}">
            </div>
            <div class='parameters_move'>
                <h4>Описание</h4>
                <input class='input' value="" type="text" name="{{ form.discription.name }}">
            </div>
            <div class='parameters_move'>
                <h4>Год выпуска</h4>
                <input class='input' value="" type="text" name="{{ form.year.name }}">
            </div>
            <div class='parameters_move'>
                <h4>Страна</h4>
                <input class='input' value="" type="text" name="{{ form.country.name }}">
            </div>
            <div class='parameters_move'>
                <h4>Режиссёр</h4>
                <input class='input' value="" type="text" name="{{ form.director.name }}">
            </div>
            <div class='parameters_move'>
                <h4>Продолжительнсть</h4>
                <input class='input' value="" type="text" name="{{ form.duration.name }}">
            </div>
        </from>
    </div>
    <button class='button_done' type='submit'>Готово</button>
{% endblock %}  