{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href={% static "css/base.css" %}>
    <style>@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');</style>

    <title>Cinema</title>
</head>
<body>
    <header id='header'>
        <h3>CINEMA</h3>
        {% if user.is_authenticated %}
            <div id='button_base'>
                {% if user.is_superuser %}
                    <a class='a_base' id='admin' href="/admin">Admin</a>
                    <a class='a_base' id='add_move' href="{% url 'add_move' %}" >Добавить фильм</a>
                {% endif %}
                <a class='a_base' id='main_list' href="{% url 'main_list' %}" >Главная</a>
                <a class='a_base' href="{% url 'profile' %}" >Профиль</a>
                <a class='a_base' id='logout' href="{% url 'logout' %}">Выход</a>
            </div>
        {% else %}
            <div id='button_base'>
                <a class='a_base' id='main_list' href="{% url 'main_list' %}" >Главная</a>
                <a class='a_base' id='login' href="{% url 'login' %}">Вход</a>
                <a class='a_base' href="{% url 'register'%}">Регистрация</a>
            </div>
        {% endif %}
    </header>
    {% block content %}
    {% endblock %}
    <footer id = "footer">
        <p>Андрей Яковенко</p>
        <p>
            Почта: <a href="mailto:mogneto.r@mail.ru">mogneto.r@mail.ru</a>.
        </p>
    </footer>
</body>
<script src={%static "js/hall.js"%}></script>
<script src={%static "js/valid.js"%}></script>
<script src={%static "js/category.js"%}></script>
</html>