{% extends "card/base.html" %}

{% block content %}
    <div id='cinema_header'>
        <h3>{{cinema.name}}</h3>
        <p>{{cinema.address}}</p>
        <p>{{cinema.phone}}</p>
        <p>Залов: {{cinema.number_halls}}</p>
    </div>
    {% for cinema, halls in screenings_by_cinema.items %}
        {% for hall, screenings_in_hall in halls.items %}
            <div class='cinema_div'>
                {% for screening in screenings_in_hall %}
                    <a class='ticket_a' href="{% url 'hall_detal' pk_hall=hall.pk pk_screening=screening.pk %}?hall_pk={{ hall.pk }}&cinema_pk={{ cinema.pk }}&screening_pk={{ screening.pk }}&film_pk={{ screening.film.pk }}">
                        <div id='hall_price_screening'>
                            <img id='foto_screening_cinema_detale' src={{screening.film.img_url}} alt='фото'\>
                            <p class='hall_detal'>{{hall.number}} Зал</p>
                            <br>
                            <p class='hall_detal'>{{ hall.format }}</p>
                            <p class='hall_detal'>{{ hall.price }}р</p>
                            <p class='hall_detal'>{{ screening.start_time|date:"H:i" }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}