{% extends "card/base.html" %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="5;url=http://127.0.0.1:8000/main_list">
        <title>Промежуточная страница</title>
        <script>
            setTimeout(function() {
                window.location.href = "{% url 'main_list' %}"
            }, 2000);
        </script>
    </head>
    <body>
        <h1>Пожалуйста, подождите...</h1>
        {% comment %} <p>{{booking}}</p> {% endcomment %}
        <p>aaaaaaaaaaaВы будете перенаправлены через 2 секунды.</p>
    </body>
{% endblock %}