{% extends "card/base.html" %}

{% block content %}
    <div id='poster_detal'>
        <img class='foto' src={{film.img_url}} alt='фото'\>
        <h3>{{film.title}}</h3>
        <h3>Год: {{film.year}}г.</h3>
        <h3 style="display:inline">Жанр:</h3>
            {% for category in film.category.all %}
                <h3 style="display:inline">{{category}}</h3>
            {% endfor %}
        <h3>Страна: {{film.country}}</h3>
        <h3 style="display:inline">Режиссёр:</h3>
            {% for director in film.director.all %}
                <h3 style="display:inline">{{director}}</h3>
            {% endfor %}
        <h3>Длительность: {{film.duration}} мин</h3>
        <h3>Описание:<br>{{film.discription}}</h3>
        <br><br><br>
        {% for cinema, halls in screenings_by_cinema.items %}
            <div class='cinema_div'>
                <a id='cinema_card' class='ticket_a' href="{% url 'cinema_detal' pk=cinema.pk %}" >
                    <h3>{{ cinema.name }}</h3>
                </a>
                {% for hall, screenings_in_hall in halls.items %}
                    {% for screening in screenings_in_hall %}
                        <a class='ticket_a' href="{% url 'hall_detal' pk=hall.pk  %}?hall_pk={{ hall.pk }}&cinema_pk={{ cinema.name }}&start_time={{ screening.start_time|date:'Y-m-d H:i' }}&film={{ film.title }}">
                            <div id='hall_price'>
                                    <p>Зал {{ hall.number }}</p>
                                    <p class='hall_detal'>{{ hall.format }}</p>
                                    <p class='hall_detal'>{{ hall.price }}р</p>
                                    <p class='hall_detal'>{{ screening.start_time|date:"H:i" }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}

        {% comment %} {% for screening in screenings %}
            {% if film.title == screening.film.title %}
                <div class='cinema_div'>
                    <h3>{{screening.cinema.name}}</h3>
                    {% for hall in screening.cinema.fk_cinema_halls.all%}
                        {% if hall.id == screening.hall.id %}
                            <a class='ticket_a' href="{% url 'hall_detal' pk=hall.pk %}">
                                <div id='hall_price'>
                                    <p class='hall_detal'>{{hall.format}}</p>
                                    <p class='hall_detal'>{{hall.price}}р</p><br>
                                    <p class='hall_detal'>Зал {{hall.number}}</p>
                                    <p class='hall_detal'>{{screening.start_time}}</p>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %} {% endcomment %}

        {% comment %} {% for cinema in cinemas %}
            <div class='cinema_div'>
                <h3>{{cinema.name}}</h3>
                {% for hall in cinema.fk_cinema_halls.all%}
                    <a class='ticket_a' href="{% url 'hall_detal' pk=hall.pk %}">
                        <div id='hall_price'>
                            <p class='hall_detal'>{{hall.format}}</p>
                            <p class='hall_detal'>{{hall.price}}р</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endfor %} {% endcomment %}
{% endblock %}