{% extends "card/base.html" %}

{% block content %}
    <div id='div_input'>
    <form method='get' id='search_bar' > 
        <input type='text' name="search_query" id="search-input" value='{{ search_query}}'>
        <button id='submit_input' type='submit'>Поиск</button>
    </form>
        <button id='search_filter'>Расширенный поискк</button>
    </div>
    
    <fieldset id='search_fieldset' hidden>
        <legend></legend>
        <form id='fiter-form' method="get">
            {{ filter_form.as_p }}
        <form>
    </fieldset>
        
    <div class='conteiner'>
        {% for film in films %}
            <div class='film_poster'>
                <a class='ticket_a' href="{% url 'film_detal' pk=film.pk %}">
                    <img class='foto' src={{ film.img_url }} alt='фото'\>
                </a>
                <a class='url_film_title' href="{% url 'film_detal' pk=film.pk %}" >{{ film.title }}</a>
                <p>{%for category in film.category.all%} {{category.category_name}} {%endfor%}</p>
                {% comment %} {% for hall in halls %}
                <div id='hall_main'>
                    <a href="{% url 'hall_detal' pk=hall.pk %}"><h3>{{hall.format}}</h3><h3>{{hall.time}}</h3><h3>{{hall.price}}р</h3></a>
                </div>
                {% endfor %}
                <p>{{film.cinemas_detals}}</p> {% endcomment %}
                {% for cinema in cinemas %}
                    <a class='ticket_a' href="{% url 'film_detal' pk=film.pk %}" >{{ cinema.name }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}