{% extends "card/base.html" %}

{% block content %}
    <fieldset>
        <legend>Жанры</legend>
        <form id="fiter-form" method="get">
            {{ filter_form.as_p }}
        <form>


    </fieldset>  
    <div class='conteiner'>
        {% for film in films %}
            <div class='film_poster'>
                <img class='foto' src={{ film.img_url }} alt='фото'\>
                <a class='url_film_title' href="{% url 'film_detal' pk=film.pk %}" >{{ film.title }}</a>
                {% for category in film.category.all %}
                    <a>{{ category.category_name }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}