body {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #383838;
    color: #fff;
    font-family: 'Jost', sans-serif;
}
#header {
    height: 20%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    border-bottom: solid 2px #ff0000;
    color: #ff0000;
    font-size: 30px;
}
#header h3 { /*лого*/
    margin-left: 3%;
}
#header a { /*Стиль кнопок в header*/
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    color: #fff;
    background-color: #ff0000;
    border-radius: 16px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.3s;
    transition-property: all;
}
#header a:hover {
    color: black;
}

#button_base {
    height: 30%;
    width: 65%;
    float: right;
    text-align: center;
    margin-left: 58%;
}
.a_base {
    box-shadow: 5px 10px 35px black;
}

.inputs_parameters_move { /*Поля для ввода*/
    margin-left: 2%;
    margin-bottom: 8%;
}
.input { /*Поле для ввода*/
    height: 20px;
    width: 25%;
    background-color: #383838;
    border: solid 2px #ff0000;
    border-radius: 8px;
    margin-left: 1%;
    color:#fff;
}
.button_done {
    width: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: #fff;
    background-color: #ff0000;
    border: solid 2px #fff;
    border-radius: 16px;
    font-size: 20px;
    margin-left: 2%;
    margin-bottom: 10%;
}

#div_input {
    height: 5%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

}
#search-input{
    border: none;
    border-radius: 30px;
    box-shadow: 5px 7px 20px black;
    text-align: center;
    height: 85%;
    width: 40%;
    color: #000;
    background-color: #fff;
    transition-duration: 0.1s;
}
#search-input:hover {
    border: 3px solid black;
}
#submit_input {
    height: 85%;
    width: 4%;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 5px 7px 20px black;
    color: #000;
    background-color: #fff;
    transition-duration: 0.1s;
}
#submit_input:hover {
    border: 3px solid black;
}
#search_filter {
    height: 85%;
    width: 11%;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 7px 20px black;
    color: #000;
    background-color: #fff;
    transition-duration: 0.1s;
}
#search_filter:hover {
    border: 3px solid black;
}
#search_fieldset {
    margin-top: 1%;
}
.conteiner {
    display: flex;
    flex-wrap: wrap; /*чтобы переносить элементы на другую строчку*/
    align-items: center;
    justify-content: center; /*Начало строки flex-start*/
}
.film_poster {
    /* height: 46%; */
    height:555px;
    width: 23%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.3s;
}
.film_poster:hover{
    background-color:  rgba(211, 211, 211, 0.2);
}
.conteiner .film_poster {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 1%;
    margin-left: 1%;
}
.film_poster:hover{
    background-color:  rgba(211, 211, 211, 0.2);
    transform: scale(1.04);
}
.url_film_title {
    margin: 17%;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    float: bottom;
}
.foto {
    padding: 5px;
    height: 429.5px;/*859*/
    width: 290px;/*580*/
    border-radius: 16px;
    box-shadow: 3px 5px 20px black;
    transition-duration: 0.3s;
    transition-property: all;
    
}
.foto:hover{
    transform: scale(1.03);
}

.float_left {
    display:inline-block
}

#poster_detal {
    margin-top: 1%;
    margin-left: 1%;
}
#poster_detal img {
    float: left;
}
#poster_detal h3 {
    width: 80%;
    margin-left: 3%;
    position: relative;
    left: 2%;
}
#cinema_poster {
    width: 70%;
    display: flex;
    flex-wrap: wrap; /*чтобы переносить элементы на другую строчку*/
    left: 0;
    right: 0;
    margin: 0 auto;
}
#cinema_poster h3{
    left: 0;
    right: 0;
    margin: 0 auto;
}
.cinemas {
    margin-left: 3%;
}
#hall {
    width: 20%;
    display: flex;
    display: inline-block;
    left: 40%;
    bottom: 13%;
    margin: 0;
}
#hall h2 {
    margin: 0;
}
.cinema_div {
    width: 96%;
    background-color: #606060;
    border-radius: 8px;
    border: 0.1px solid rgb(255, 0, 0);
    margin-top: 1%;
    margin-left: 0.5%;
    box-shadow: 5px 7px 8px black;
    padding: 1%;
}
#hall_time_price {
    height: 6%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    text-align: center;
    padding-bottom: 0.1%;
    padding-top: 0.3%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0;
}
#hall_price {
    width: 8%;
    display: inline-block;
    border: 0.1px solid rgb(255, 0, 0);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5%;
    margin: 1%;
    box-shadow: 5px 7px 15px black;
    transition-duration: 0.3s;
}
#hall_price:hover{
    transform: scale(1.03);
}
.hall_detal {
    display: inline-block;
}
.ticket_a {
    text-decoration: none;
    color: #fff;
}

#hall_rows{
    /* display: inline-block;
    width: 100%;
    justify-content: center; */
    margin-top: 5%;
    text-align: center;
}

#hall_rows a{
    margin-left: 20px;
}


#hall_time_price a {
    text-decoration: none;
    color: #fff;
}
#hall_time_price h3 {
    margin: 0;
}
#hall_main {
    width: 15%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 5px;
}
#hall_main a {
    color: #fff;
    text-decoration: none;
}
#hall_main h3 {
    margin: 0;
}
#hall_num {
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 3%;
}
#screen {
    height: 1.5%;
    width: 65%;
    background-color: #fff;
    color: #000;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2%;
    box-shadow: 0px -15px 50px #fff;
    
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#payment_conteiner {
    height: 20%;
    width: 40%;
    background-color: #575757;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 1.5%;
    padding-top: 1%;
    text-align: center;
    border: 1px solid rgb(255, 0, 0);;
    box-shadow: 5px 7px 30px black;
}

#place {
    margin-left: 10px;
}
#hall_places {
    width: 60%;
    text-align: center;
}
.check_place_on {
    fill: #ff0000;
}
.check_place_off {
    fill:  #000;
}
#payment {
    height: 20%;
    width: 15%;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 5px 7px 20px black;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition-duration: 0.1s;
}

#profile_title {
    width: 100%;
    text-align: center;
}
#profile_data {
    background-color:  rgba(211, 211, 211, 0.2);
    width: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 3%;
}
#button_update_profile {
    width: 21%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    color: #fff;
    background-color: #ff0000;
    border-radius: 16px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.3s;
    transition-property: all;
    right: 0;
    margin: 0 auto;
    margin-top: 2%;
    transition-duration: 0.3s;
    transition-property: all;
}
#button_update_profile:hover {
    color: black;
}

#conteiner_cinema {
    display: flex;
    flex-wrap: wrap; /*чтобы переносить элементы на другую строчку*/
}
#cinema_card {
    width: 45%;
    margin-left: 2%;
    margin-top: 1.5%;
    transition-duration: 0.3s;
    transition-property: all;
}
#cinema_card:hover {
    transform: scale(1.01);
}
#cinema_card_div {
    padding: 1.5%;
}

#cinema_header {
    width: 70%;
    background-color: #606060;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 1.2%;
    margin-bottom: 2%;
    text-align: center;
}
#cinema_screening_div {
    width: 95%;
    margin-top: 0.5%;
    margin-left: 1%;
    padding: 1%;
    padding-bottom: 2%;
}
#foto_screening {
    padding: 5px;
    height: 214.75px; /*429.5px*//*859*/
    width: 145px; /*290px*//*580*/
    border-radius: 16px;
    box-shadow: 3px 5px 20px black;
    float: left;
}
#foto_screening_cinema_detale {
    padding: 5px;
    height: 107.375px; /*429.5px*//*859*/
    width: 72.5px; /*290px*//*580*/
    border-radius: 16px;
    box-shadow: 3px 5px 20px black;
    float: left;
    margin-right: 5%
}
#cinema_screening_div p {
    width: 80%;
    margin-left: 3%;
    position: relative;
    left: 2%;
}
#hall_price_screening {
    height: 86%;
    width: 16%;
    display: inline-block;
    border: 0.1px solid rgb(255, 0, 0);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5%;
    margin-left: 0.5%;
    box-shadow: 5px 7px 15px black;
    transition-duration: 0.3s;
}
#hall_price_screening p {
    margin-left: 1%;
}
#hall_price_screening:hover{
    transform: scale(1.03);
}

#main_page_div {
    margin: 2%;
    padding: 1%;
    background-color: rgb(96, 96, 96);
}
#main_page_div h2 {
    left: 0;
    right: 0;
    margin: 0 auto;
}
#main_page_div li {
    margin-bottom: 1%;
}
#main_page_div a {
    text-decoration: none;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    color: #fff;
    background-color: #ff0000;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.3s;
    transition-property: all;
}
#main_page_div a:hover {
    color: black;
}
.list_div {
    margin: 2%;
    padding: 1%;
    background-color: rgb(96, 96, 96);
}
.list_div li {
    margin-bottom: 1%;
}
.list_div a {
    text-decoration: none;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    color: #fff;
    background-color: #ff0000;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.3s;
    transition-property: all;
}
.list_div a:hover {
    color: black;
}

.button_sub {
    margin-top: 3%;
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 16px;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.3s;
    transition-property: all;
}
.button_sub:hover {
    color: black;
}

#footer {
    width: 99.5%;
    background-color: #242424;
    padding-left: 0.5%;
    border-top: 1px solid rgb(255, 0, 0);
    margin-top: auto;
}