body {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #383838;
    font-family: 'Jost', sans-serif;
}
#header {
    height: 20%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    border-bottom: solid 2px #ff0000;
    color: #ff0000;
    font-size: 30px;
}
#header h3 { /*лого*/
    margin-left: 3%;
}
#header a { /*Стиль кнопок в header*/
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    color: #fff;
    background-color: #ff0000;
    border-radius: 16px;
    text-decoration: none;
    font-size: 20px;
}

#button_base {
    height: 30%;
    width: 42%;
    text-align: center;
    margin-left: 58%;
}

#inputs_parameters_move { /*Поля для ввода*/
    margin-left: 2%;
    margin-bottom: 8%;
}
.input { /*Поле для ввода*/
    height: 5%;
    width: 25%;
    background-color: #383838;
    border: solid 2px #ff0000;
    border-radius: 8px;
    margin-left: 1%;
}
#button_done {
    width: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: #fff;
    background-color: #ff0000;
    border: solid 2px #fff;
    border-radius: 16px;
    font-size: 20px;
    margin-left: 2%;
    margin-bottom: 10%;
}

.conteiner {
    display: flex;
    flex-wrap: wrap; /*чтобы переносить элементы на другую строчку*/
    align-items: center;
    justify-content: flex-start; /*Начало строки*/
}
.film_poster {
    width: 23%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    text-align: center;
    display: inline-block;
}
.conteiner .film_poster {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 1%;
    margin-left: 1%;
}
.url_film_title {
    margin: 5%;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.foto {
    height: 429.5px;/*859*/
    width: 290px;/*580*/
    border-radius: 16px;
}

#poster_detal {
    margin-top: 1%;
    margin-left: 1%;
}
#poster_detal img {
    float: left;
}
#poster_detal h3 {
    width: 80%;
    margin-left: 3%;
    position: relative;
    left: 2%;
}
.cinemas {
    margin-left: 3%;
}
#hall {
    width: 60%;
    position: relative;
    left: 40%;
    bottom: 13%;
}
#hall h2 {
    margin: 0;
}
#hall_time {
    height: 6%;
    width: 6%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    text-align: center;
    padding-bottom: 0.1%;
    padding-top: 0.3%;
    padding-left: 1%;
    padding-right: 1%;
}
#hall_time p {
    margin: 0;
}
#hall_time h3 {
    margin: 0;
}